// Add any custom Sass & CSS here
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);


body{
	background-color: $blue-color;
	color: white;
}
a{
	@include a_tag();
}
a:hover{
	text-decoration: none;
}

.heading{
	font-size: 3.5em;
	padding: 30px;
	padding-bottom: 20px;
	a{
		@include a_tag();
	}
}

.small_heading{
	font-size: 1.5em;
	padding-bottom: 20px;
}

#gallery{
	margin-top:30px; 
	label{
		color: white;
		padding: 20px;
	}

	.gallery_box{
		padding: 30px; 
		float: left;
		a{
			text-decoration: none;
		}
		.inner_box{
			width: 100%;
			height: 100%;
			background-repeat: no-repeat;
			background-size: cover;
			overflow: hidden;
			background-position: center center;
			transition: .5s ease-out all;
		}
		.inner_box:hover{
			transform: scale(1.1);
		}
	}
	.gallery_option{
		text-align: center;
		transition: .5s ease-out all;
	}
	.gallery_option:hover{
		color: #ff0030;
		transform:scale(1.2);
	}
	.gallery_option:active{
		color: white;
	}
}

#list{
	margin-top:30px; 
	label{
		color: $blue-color;
	}
	a{
		color: $blue-color;
	}
	a:hover{
		color: $blue-color;
	}

	.search{
		background-color: white;
		padding: 30px;
		input{
			color: $blue-color;
		}
		.searchbox{
			width: 100%;
			margin-bottom: 20px;
		}
	}
	.outer_box{
		padding: 20px;
		color: black;
		transition: 1s ease all;
		.inner_box{
			@include inner_box();

			h6{
				padding-top: 30px;
				color: black;
			}
		}
	}
	.inner_box:hover{
		transform: scale(1.1);
	}
}

#details{
	.details_heading{
		font-size: 1.5em;
	}
	min-height: 55vh;
	margin-top:30px; 
	padding: 20px;
	color: $blue-color;
	background-color: white;
	a{
		color:$blue-color;
	}

	.details_top{
		height: 50px;
	}

	.fa{
		transition: .5s ease-out all;
	}
	.fa:hover{
		transform: scale(1.3);
		color:#2199e8;
	}

	.detail_box_outer{
		padding: 10px;
		height: 40vh;

		.detail_box_inner{
			@include inner_box_img();
		}
	}
	.details_text{
		padding-top: 40px;
		padding-bottom: 40px;
		color: $blue-color;
	}
}

::-webkit-input-placeholder { /* WebKit browsers */
    direction: rtl;
}
