<div class="large-10 large-centered" id = "gallery">
	<div class="large-12">
		<label>
		   <div class = "large-3 columns gallery_option" ng-click="filterBy('')"> 
		    All </div>
		   <div class = "large-3 columns gallery_option" ng-click="filterBy('Thriller')">
		    Thriller</div>
		   <div class = "large-3 columns gallery_option" ng-click="filterBy('Romance')">     
		   Romance</div>
		   <div class = "large-3 columns gallery_option" ng-click="filterBy('Action')">    
		   Action</div>
		   <div class = "large-3 columns gallery_option" ng-click="filterBy('War')"> 
		   War</div>
		   <div class = "large-3 columns gallery_option" ng-click="filterBy('Adventure')"> 
		   Adventure</div>
		   <div class = "large-3 columns gallery_option" ng-click="filterBy('Crime')">   
		   Crime</div>
		   <div class = "large-3 columns gallery_option" ng-click="filterBy('Comedy')">     
		   Comedy</div>
		   <div class = "large-3 columns gallery_option" ng-click="filterBy('Drama')">   
		   Drama</div>
		   <div class = "large-3 columns gallery_option" ng-click="filterBy('Musical')">     
		   Musical</div>
		   <div class = "large-3 columns gallery_option" ng-click="filterBy('Mystery')">     
		   Mystery</div>
		   <div class = "large-3 columns gallery_option" ng-click="filterBy('Western')">     
		   Western</div>
		   <div class = "large-3 columns gallery_option" ng-click="filterBy('History')">     
		   History</div>
		   <div class = "large-3 columns gallery_option" ng-click="filterBy('Biography')">     
		   Biography</div>
		   <div class = "large-3 columns gallery_option" ng-click="filterBy('Fantasy')">     
		   Fantasy</div>
		   <div class = "large-3 columns gallery_option" ng-click="filterBy('Sci-Fi')">     
		   Sci-Fi</div>
	    </label>
	</div>
	<div class="large-12">
		<div ng-repeat="item in movies | filter:myfilterBy" class="large-3 columns gallery_box">
			<a href="#/details/{{movies.indexOf(item)}}">	
			<div class="large-12 inner_box" style ="background-image: url('./data/images/{{item.imdbID}}.jpg');">
			</div>
			</a>
		</div>
	</div>
</div>