<div class="large-10 large-centered" id = "list">
	<div class="search large-8 large-centered">
		<input ng-model ="query" placeholder="&#xF002;" style="font-family:Arial, FontAwesome" class = "searchbox" autofocus>
		<label>by:
			<select ng-model="movieOrder">
				<option value="rank">Rank</option>
				<option value="title">Title</option>
			</select>
		</label>
		<label>
		 <div class="large-6 columns text-center">
	      <input type="radio" ng-model="direction" name="direction" checked>
	      Ascending
		</div>
		 <div class="large-6 columns text-center">
	      <input type="radio" ng-model="direction" name="direction" value="reverse">
	      Descending
		</div>
	    </label>
	</div>
	<div class="large-6 large-centered">
		<div ng-repeat="item in movies | filter:query | orderBy:movieOrder:direction | limitTo : 50" class="large-12 outer_box">
			<a href="#/details/{{movies.indexOf(item)}}">	
				<div class="large-12 large-centered inner_box">
						<h5>{{item.title}}</h5>
						<h7>Rank: {{item.rank}}</h7>
						<h6>{{item.actors[0]}}, {{item.actors[1]}} , {{item.actors[2]}}, {{item.actors[3]}} </h6>
				</div>
			</a>
		</div>
	</div>
</div>